body
{
margin: 0;
padding: 0;

}
  *
  {
    box-sizing: border-box;
  }
  .rowf
  {  box-sizing: border-box;
    display: flex;
    flex-wrap: column;
  }
  
  .column{
    box-sizing: border-box;
    flex: 33.33%;
    padding: 5px;
   
   
  }
  

.images
{
  width:75%;
   height:300px;
   border-radius: 25px;
   
}

  .video
  {
    padding: 10px;
    width:100% ;
    height: 345px;
    box-sizing: border-box;
  }
  .subh
  {
    font-family:fantasy;
    color:rgba(7, 11, 68, 0.836);
    font-size: 50px;
  padding-top: 20px;
    text-align: center;
  
  }
  p
  {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-size: 30px; 
    text-align: center;
    
  }
  .heading
{
  font-family:fantasy;
  color:bisque;
  font-size: 100px;
  text-align: center;
  margin: 0;
 padding: 0%;
}
.captions
{
  font-family:fantasy;
  color:rgba(7, 11, 68, 0.836);
  font-size: 20px;
  text-align: center;
}

.nav {
  
  list-style-type: none;
  margin:0;
  padding: 10px;
  text-align: center;
  
  
}
  .navi
{  text-decoration: none;
display: inline;
color:bisque;
  text-align: center;
  padding: 30px 16px;
  font-size: 30px;
  
}
.navi:hover{
  color:white;
}
.gif
{
  width:100%
  ;height:500px;
  object-fit:cover;
}
.row  {
    display: flex;
    
    justify-content: center;
    align-items: center;
    }
  
  @media only screen and (max-width: 800px) {
   
    .subh
  {
    font-size: 30px;
  }
  p
  {
   font-size: 20px;

  }
  
  .column
  {flex:100%;
    align-items: center;
  justify-content: center;}
  
  .rowf {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .row
  {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video
    {
     height:250px;
  
    }
    .heading
  {
    font-size: 50px;
  }
  
  .navi
  {
    padding: 5px 5px;
  font-size: 15px;
  
  }
  .gif
  {
height:300px;
  }
  .images
  {   
      width: 40%;
     height:120px
    
  }
  }