*{
    box-sizing: border-box;
}
body
{
   
    background-color: DodgerBlue;
}
.heading
{
    color:white;
    
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
.flex-container {
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
   margin-top: 100px;
   
  }
  .flex-container > div {
    display: flex;
  

  height:600px;

  justify-content: space-between;
  flex-wrap: wrap;
}
.box1
{
  display: flex;
  
  background-color:red;
margin: 1em;
 padding: 1em;
  height:600px;
 flex:30%;
 flex-wrap: wrap;

position: relative;

}
.box2
{
    display: flex;
  
    background-color:black;
  margin: 1em;
   padding: 1em;
    height:600px;
   flex:30%;
   flex-wrap: wrap;

}
.box3
{
    display: flex;
  
    background-color:rgb(87, 87, 97);
  margin: 1em;
   padding: 1em;
    height:600px;
   flex:30%;  
   flex-wrap: wrap;
}
.a{
    background-color:cyan;
    position:absolute;
    top:0;
    left:0;
    height:280px;
    flex:80%;
    width:90%;
    
   
}
.b{
    
	background-color: black;
    position:absolute;
    left:0;
    bottom:0;
    height:280px;
    flex:80%;
    width:90%;
    
}	
.inside1
{
    background-color:blue;
    margin: 1em;
     padding: 1em;
     
     flex:20%;
     text-align: center;

}
.inside2
{
    background-color:blue;
    margin: 1em;
     padding: 1em;
     
     flex:90%;
     text-align: center;


}
.button { 
    box-sizing: border-box;
   background-color: Red;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
  
   font-size: 16px;
 float:right;
   cursor: pointer;
 }
 @media only screen and (max-width: 768px) {
    
    .flex-container
    {  
        display:flex;
       
        flex-direction: column;
    }
    .inside1{
        flex:100%;
        flex-direction: column;
    }

    .a
    {
height:300px;
width:200px;
position: relative;

    }
    .b{
        height:300px;
        width:200px;
        width:200px;
position: relative;
    }
    .inside1{
        flex:100%;
        flex-direction: column;
    }
}